// 项目提供全局变量
$base-color: red;

// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单背景颜色
$base-menu-background: #001529;
// 左侧菜单logo高度
$base-menu-logo-height: 48px;
// 左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;
// 顶部导航的宽度
$base-tabbar-height: 100px;